.shanab{
position: absolute;
width:180px;
height: 180px;
left :340px;
color:black;
/* background-color: currentColor; نحذف الدايرة الاصلية */
border-radius: 50%;
box-shadow: 150px 240px 0 0 currentColor,
300px 240px 0 0 currentColor;
}
.shanab::before{
    content: "";
    position: absolute;
    height:290px ;
    width: 190px;
    border-bottom: 190px solid currentColor ;
border-radius: 0 0 0 120%;
left: 30px;
top: 140px;
    transform: rotate(-90deg);
}

.shanab::after{
    content: "";
    position: absolute;
    height:290px ;
    width: 190px;
    border-bottom: 190px solid currentColor ;
border-radius: 0 0 120% 0;
left: 420px;
top: 130px;
    transform: rotate(90deg);
}